*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Neutral */
   --color-neutral-900: hsl(33, 15%, 15%);
   --color-neutral-800: hsl(33, 22%, 20%);
   --color-neutral-700: hsl(32, 20%, 29%);
   --color-neutral-600: hsl(33, 17%, 41%);
   --color-neutral-400: hsl(36, 22%, 86%);
   --color-neutral-200: hsl(30, 24%, 93%);
   --color-neutral-100: hsl(35, 60%, 96%);
   --color-neutral-50: hsl(40, 60%, 98%);
   --color-neutral-0: hsl(0, 0%, 100%);
   --color-bg:hsl(33, 58%, 96%);

  /* Sun */
   --color-sun-500: hsl(42, 83%, 58%);
   --color-sun-300: hsl(44, 84%, 75%);
   --color-sun-200: hsl(45, 100%, 74%);
   --color-sun-50: hsl(41, 100%, 93%);
   --color-welcome-note:#F5B593;

  /* Terracotta */
   --color-terracotta-700: hsl(15, 69%, 37%);
   --color-terracotta-600: hsl(15, 74%, 41%);
   --color-terracotta-500: hsl(18, 62%, 47%);
   --color-terracotta-400: hsl(22, 72%, 56%);
   --color-hover-indicator:#da0303;

  /* Rose */
   --color-rose-500: hsl(340, 48%, 52%);

  /* Blue */
   --color-blue-500: hsl(230, 49%, 56%);
  /* fonts */ 
   --font-heading: "Fraunces", serif; 
   --font-body: "DM Sans", sans-serif; 
   --font-mono: "DM Mono", monospace;

}

body{
    padding: 1rem;
    background-color: var(--color-bg);
}

/*header*/

header{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid var(--color-neutral-400);
    margin: 0;
    margin-inline: -1rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;
}
.header-navigation{
    margin-inline-start: auto;
}
.menu-toggle, .menu-close{
    padding: 5px;
    border: 1px solid var(--color-neutral-400);
    background-color: var(--color-neutral-100);
    display: flex;
    align-items: center;
    
}
.menu-close{
    display: none;
}
.menu-close.mobile-overlay{
    display: flex;
}
.menu-toggle.mobile-overlay{
    display: none;
}
header:has(.menu-close.mobile-overlay) {
    margin-inline: unset;
   
    padding-inline: unset;
}


/* mobilve navigaiton*/
.mobile-nav{
    display: none;
    padding-block-start: 1.5rem;
    flex-direction: column;
    min-height: 100vh;
}
.mobile-nav.mobile-overlay{
    display: flex;
    
    
}
.your-stay .nav-label{
    color: var(--color-neutral-900);
}
.nav-items{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 100%;
    
}
.nav-items a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding-inline-start: 10px;
}
.nav-items img{
    height: 22px;
    width: 22px;
}
.nav-label{
    font-size: 15px;
    font-weight: 500;
    font-family: var(--font-body);
    color: var(--color-neutral-700);
}
.nav-item{
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
}
.nav-item.active{  
    outline: 2px solid var(--color-hover-indicator);
    outline-offset: 2px;
    border-radius: 10px;
    background-color: var(--color-neutral-0);
  
}
.booking-button.active {
    outline: 2px solid var(--color-hover-indicator);
    outline-offset: 2px;
    border-radius: 20px;
    
}
.your-stay{
    
    padding-left: unset;
    background-color: var(--color-neutral-0);
    border-radius: 8px;
    
}
.hover-indicator{
    margin-inline-start: auto;
    margin-inline-end: 1rem;

    width: 16px;
    height: 16px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-neutral-0);
    background-color: var(--color-hover-indicator);
    border-radius: 50%;

    font-family: var(--font-body);
    font-size: 10px;
    font-weight: 600;
  
  
}
/*weather*/
.weather{
    background-color: var(--color-sun-300);
    border-radius: 20px;
    position: relative;
    padding: 13px 18px;
    display: flex;
    flex-direction: column;
    gap: 12.5px;
    font-family: var(--font-body);
    font-size: 11.5px;
    color: var(--color-neutral-700);
    font-weight: 500;
    overflow: hidden;
    margin-block-end: 1.5rem;
    margin-block-start: auto;
}
.weather img{
    position: absolute;
    right: -9px;
    top: -28px;
}
.weather-info{
    display: flex;
    flex-direction: column;
    gap: 12.5px;
    
}
.weather-location{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
.temperature{
    font-size: 30px;
    font-weight: 400;
    font-family: var(--font-heading);
    color: var(--color-neutral-900)
}

/*footer*/
footer{
    border-top: 2px solid var(--color-neutral-400);
}
.property-info{
    padding-block-start: 1rem;
    color: var(--color-neutral-600);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 9.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 70%;
}


/*main*/
body.menu-open main {
    display: none;
}
main{
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.booking-info p{
    font-size: clamp(10px, 2vw, 13px);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--font-mono);
    color: var(--color-neutral-600);
}
.booking-info, .booking-summary{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.booking-summary{gap: 1rem;}
h1{
    font-size: clamp(32px, 4vw, 42px);
    font-family: var(--font-heading);
    font-weight: 400;
    color: var(--color-neutral-800);
}
.customer-name{
    color: var(--color-terracotta-600);
}
.booking-cta{
    display: flex;
    gap: 0.65rem;
}
.booking-cta button{
    border: 2px solid var(--color-neutral-400);
    padding: clamp(0.4rem, 1vw, 0.6rem) clamp(0.75rem, 2vw, 1rem);;
    border-radius: 20px;
    background-color: var(--color-bg);
    font-size: clamp(0.72rem, 0.6vw + 0.5rem, 0.85rem);
    font-family: var(--font-body);
    font-weight: 600;
    color: var(--color-neutral-900);
    width: 100%;
}
.booking-cta .calendar{
    
    border: none;
    background-color: var(--color-neutral-900);
    color: var(--color-bg);
    letter-spacing: 0.5px;
    font-weight: 400;
}
.host-note{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.welcome-note{
    display: flex;
    flex-direction: column;
    padding: 1.7rem 1rem;
    gap: 0.5rem;
    font-family: var(--font-mono);
    color: var(--color-welcome-note);
    letter-spacing: 0.7px;
    background: radial-gradient(circle at 95% 0%, var(--color-terracotta-400) 0%, var(--color-terracotta-500) 35%, var(--color-terracotta-700) 75%, var(--color-terracotta-700) 100%);
    border-radius: 18px;
    transform: rotate(2deg);
    box-shadow: 0 30px 80px rgb(146 65 14 / 59%);
    
}
.welcome{
    margin-block-start: 0.5rem;
    font-size: 8.5px;
    text-transform: uppercase;
   
    
}
.welcome-content{
    display: flex;
    margin-block-end: 0.5rem;
    border-top: 1px dashed var(--color-terracotta-400);
    padding-block-start: 0.2rem;
}
.welcome-content img{
    margin-inline-start: auto;
    margin-block-start: 0.5rem;
    width: 38px;
    height: 38px;
}
h2{
    font-size: 13px;
    font-family: var(--font-heading);
    font-style: italic;
    font-weight: 400;
    color: var(--color-sun-200);
}
h2 span{
    font-size: 25px;
    margin-block-start: 5px;
    display: block;
    color: var(--color-sun-50);
}
.invite-msg{
    font-size: 11.5px;
    
    font-family: var(--font-body);
    letter-spacing: 0.4px;
    margin-block-end: 2.6rem;
    margin-block-start: 0.5rem;
}
.room{
    font-size: 8.5px;
    text-transform: uppercase;
    font-weight: 600;
}
.greeting{
    font-size: 15px;
    color: var(--color-sun-50);
    font-family: var(--font-heading);
}

.host-sun{display: none;}

/*receipt section*/

.receipt{
    background-color: var(--color-neutral-50);
    padding: 1rem;
    border-radius: 18px;
    transform: rotate(-2deg);
    z-index: -1;
    box-shadow: 0 30px 80px var(--color-neutral-400);
}
.receipt-header, .stay-details, .charges{
    display: flex;
    font-family: var(--font-mono);
    color: var(--color-neutral-600);
    font-size: 8.5px;
    letter-spacing: 1px;
    border-bottom: 1px dashed var(--color-neutral-400);
    
}
.receipt-header{
    padding-block-end: 0.8rem;

}
.receipt-number{
    margin-inline-start: auto;
    
}
.receipt-title, .receipt-number {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.title, .stay-label{
    text-transform: uppercase;
    
}
.stay{
    font-size: 19px;
    color: var(--color-neutral-900);
    letter-spacing: 0;
    font-family: var(--font-heading);

}
.stay-details{
    padding-block: 0.8rem;
    justify-content: space-between;
    align-items: flex-start;
    
}
.check-in, .check-out{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.stay-date{
    font-size: 26px;
    color: var(--color-neutral-900);
    font-family: var(--font-heading);
    font-weight: 500;
}
.stay-time{
    letter-spacing: 0;
    font-family: var(--font-body);
    font-size: 10px;
    font-weight: 600;
}
.stay-label{
    text-align: center;
}

/*charges section*/

.charges{
    padding-block-start: 0.8rem;
    padding-block-end: 1.2rem;
    
    border-bottom: 1px solid var(--color-terracotta-700);
    flex-direction: column;
    gap: 5px;
    font-family: var(--font-body);
    color: var(--color-neutral-900);
    font-weight: 500;
    font-size: 11.2px;
}
.charge-item, .total-label, .payment-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.charge-price{
    font-family: var(--font-mono);
    font-weight: 500;
    
}
.tax{
    color: var(--color-rose-500);
}
.receipt-total{
    padding-block-start: 0.8rem;
    font-family: var(--font-body);
    color: var(--color-neutral-600);
    font-size: 10.1px;
    letter-spacing: 1px;
    text-transform: uppercase;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.total-label strong{
    font-size: 17px;
    font-family: var(--font-heading);
    color: var(--color-neutral-900);
    font-weight: 400;
}
.payment-status img{
    width: 76px;
    height: auto;
}
.hover-msg{
    display: none;
}

/*guest-guide*/

.guest-guide{
    display: flex;
    gap: 2rem;
    
    flex-direction: column;
    margin-block-start: 1rem;
}
.guide-card-header, .heading{
    display: flex;
    gap: 6px;
    align-items: center;

}
.guide-card-header{margin-block-end:1.2rem;}
.guide-card{
    background-color: var(--color-neutral-50);
    border-radius: 16px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 30px 80px var(--color-neutral-400);
}
.guide-number{
    margin-inline-start: auto;
    font-size: 18px;
    font-family: var(--font-heading);
    font-weight: 600;
}
h3{
    font-size: 11.5px;
    text-transform: uppercase;
    font-family: var(--font-mono);
    font-weight: 500;
    letter-spacing: 0.8px;
}
.guide-arrival-text, .one{color: var(--color-terracotta-500);}
.wifi-text, .two{color: var(--color-blue-500);}
.breakfast-text, .three{color: var(--color-rose-500);}
.guide-card-img{
    
    width: 29px;
    border-radius: 5px;
    padding: 6px;
}
.key{
    background-color: var(--color-terracotta-500);
}
.wifi{
    background-color: var(--color-blue-500);
}
.guide-breakfast-img{
    background-color: var(--color-rose-500);
}
h4{
    font-size: 19px;
    font-family: var(--font-heading);
    font-weight: 500;
    color: var(--color-neutral-900);
    margin-block-end: 7px;
}
.guide-card span{
    font-family: var(--font-body);
    font-size: 10px;
    font-weight: 600;
    color: var(--color-neutral-600);
}
.guide-description{
    font-size: 13px;
    margin-block-start: 13px;
    color: var(--color-neutral-900);
    font-family: var(--font-body);
}
.wifi-item{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-200);
    padding:5px;
    font-family: var(--font-body);
    color: var(--color-neutral-600);
    font-weight: 600;
}
.wifi-item span{
    margin-inline-start: auto;
    color: var(--color-neutral-900);
}
.wifi-item p{
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
.wift-details{
    margin-block-start: 13px;
    gap: 4px;
    display: flex;
    flex-direction: column;
}
.copy-button{
    font-size: 8px;
    text-transform: uppercase;
    padding-inline-start: 1rem;
    background-color: var(--color-neutral-100);
    padding: 3px 6px;
    font-family: var(--font-body);
    color: var(--color-neutral-600);
    font-weight: 600;
    border: 1px solid var(--color-neutral-400);
    border-radius: 10px;
    margin-inline-start: 5px;
    letter-spacing: 1px;
}
.copy-button.active{
    outline: 2px solid var(--color-hover-indicator);
    outline-offset: 2px;
    margin-inline-start: 10px;
}
/*active status*/
.nav-item:not(.your-stay):hover {
    cursor: pointer;
    background-color: var(--color-neutral-0);
}
.nav-item:hover{
    cursor: pointer;
}
.booking-cta button:hover{
    cursor: pointer;
}
.print-receipt:hover{
    background-color: var(--color-neutral-400);
}
.calendar{
    color: var(--color-sun-300);
}
.copy-button:hover{
    cursor: pointer;
    background-color: var(--color-neutral-400);
}















/*desktop view*/

@media screen and (min-width: 48rem) {
    .menu-toggle{display: none;}
    header{
        border-bottom: none;
        
    }
    body{
        min-height: 100dvh;
        display: grid;
        grid-template-columns: 20% 80%;
        
        padding-inline-end: 0;
    }
     .sidebar {
        display: flex;
        flex-direction: column;
        min-height: 0;
    }
    .mobile-nav{
        flex: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
        border-top: 2px solid var(--color-neutral-400);
        margin-inline-end: 1rem;
    }
    main{
        border-left: 2px solid var(--color-neutral-400);
        margin-block: -1rem;
        padding: 1.7rem 2rem;
        justify-content: space-around;
    }
    .booking-summary{
        flex-direction: row;
    }
    .booking-cta{
        margin-inline-start: auto;
        align-items: center;
        
    }  
    .booking-cta button{
        width: fit-content;
    }
    .host-note{
        flex-direction: row;
        gap: 0;
        margin: 0 auto;
        margin-block-start: 2rem;
        max-width: 635px;
        
    }
    .welcome-note, .receipt{
        flex: 1;
    }
    .host-note:hover .host-sun{
        display: block;
        width: 140px;
        height: 140px;
        order:2;
        align-self: center;
    }
    .host-note:hover .welcome-note {
        transform: rotate(-4deg);
    }
    .host-note:hover .receipt {
        transform: rotate(4deg);
    }
    .host-note:hover{
        max-width: 800px;
        cursor: pointer;
    }
    .welcome-note{
        order: 3;
        transform: rotate(4deg);
    }
    .stay-details{
        justify-content: space-around;
    }
    .receipt{
        transform: rotate(-4deg);
    }
    
    .hover-msg{
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }
    .hover-msg p{
        font-size: 9px;
        font-family: var(--font-body);
        text-transform: uppercase;
        color: var(--color-neutral-900);
        letter-spacing: 0.8px;
    }
    .hover-msg img{
        width: 7px;
        height: auto;
    }
    .guest-guide{
        flex-direction: row;
        justify-content: space-evenly;
    }
    

}
